<!doctype html>
<html>
   <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  </head>
   <body>
      <h1>Code Name</h1>
      <form action="{{ url_for('create_game') }}" method="post">
         <input style="text-align:center;width:50px" name="gameId" value="{{ gameId }}">
         <input name="create" type="submit" value="Create Game">
      </form>
      <form action="{{ url_for('create_game') }}" method="get">
         <input name="random" type="submit" value="Random Game">
      </form>
      <br>
      <table border = 1>
         {% for line in data %}
            <tr>
               {% for cell in line %}
                  <td style="text-align:center;width:50px;height:25px" bgcolor="{{ cell }}"></td>
               {% endfor %}
            </tr>
         {% endfor %}
      </table>
      <p>... {{ starter }} team should start the game !</p>
   </body>
</html>